#title {
    color: red;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: black;
}

.links { 
    text-align: center;
    color: red;
}

.links a {
    color: black;
}

.images{
    margin-top: 40px;
}

.images img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 512px;
}

.recipeimage {
    display: block;
    height: auto;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
}

.recipe {
    margin-top: 60px;
    width: 70%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.recipe h2 {
    color: red;
}

* {
    border: 1px solid purple;
}